html{
    background-color: rgb(240, 238, 229);
}

a {
    text-decoration: none;
    color: rgb(12, 214, 190);
}

button {
    margin: 5px;
    border: 0px;
    color:rgb(26, 26, 182);
}
html.dark {
  background-color: #333;
}