---
import CurrentTime from "@components/CurrentTime";
import BaseLayout from '@layouts/BaseLayout.astro';
import "@styles/global.css";
import Stopwatch from "@components/Stopwatch";
---

<BaseLayout>
    <h2>👋 I'm yunogasai</h2>
    <p>I am learning <a target="blank" href="https://www.rust-lang.org/">rust</a> programming.</p>
    <div>
        <p>todolist:</p>
        <p>1.make a vscode plugin.(0.001%)</p>
        <p>2.write a novel.(0.000%)</p>
    </div>
    <Stopwatch client:load />
</BaseLayout>
