---
import Baselayout from "../layouts/Baselayout.astro";
---
<Baselayout>
<h2>👋 I'm yunogasai</h2>
<p>I am learning <a  target="blank" href="https://www.rust-lang.org/">rust</a> programming.</p>
</Baselayout>
