---
import { getCollection } from "astro:content";
import Baselayout from "@layouts/BaseLayout.astro"
const allPosts = await getCollection("posts");
---

<Baselayout>
 {allPosts.map((post) =>(<p><a href={`/posts/${post.slug}/`}>{post.data.title}</a></p>))}
</Baselayout>