---
import {  } from "astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<!-- <iframe src="" width="400px" height="400px"></iframe> -->
<p class:list={["hello",{"test":true},['hshsh','asaddas']]}></p>
</body>
</html>