---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tetie</title>
    <style>
        body{
            margin: 0px;
        }
        button{
            border: 0px;
        }
        .container{
            margin:auto;
            text-align: center;
        }
    </style>
</head>

<body >
    <div class="container">
  <button id="decrease">-</button>
  <span id="number">0</span>
  <button id="increase">+</button>
</div>

</body>
<script>
  import { initCounter } from '../compontents/counter.ts';
  document.addEventListener('DOMContentLoaded', initCounter);
</script>
</html>