---
import CurrentTime from "@components/CurrentTime";
import ThemeIcon from "@components/ThemeIcon.astro";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props.frontmatter || Astro.props;
import "@styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="yunogasai"
            href={new URL("rss.xml", Astro.site)}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{Astro.url}</title>
        <ViewTransitions />
        <style>
            body {
                line-height: 1.4;
                font-size: 16px;
                padding: 0px;
                margin: 150px auto;
                max-width: 650px;
            }
        </style>
    </head>
    <body>
        <div style="position: absolute; top: 0; right: 0;">
            <ThemeIcon />
        </div>
        <div style="max-width: 40em; margin: 15 auto;" style="margin-top:70px">
            <a href="/">home</a>
            <a href="/posts">posts</a>
            <a href="/tags">tags</a>
            <h2>{title || ""}</h2>
            <slot />
            <CurrentTime client:load />
            <div>
                &copy; {new Date().getUTCFullYear()} yunogasai. All rights reserved.
                Built with <a href="https://astro.build" target="_blank"
                    >astro</a
                >.
            </div>
        </div>
    </body>
</html>
